.home-menu {
    border-style: ridge;
    border-color: var(--edit-color);
}

.settings-menu {
    margin: auto;
    margin-top: 30pt;
    width: 90%;
}

/* Configuration des listes de tri */
.inlineList {
    list-style: none;
    padding: 0;
    margin: 0;
}

div:has(>.handle) {
    box-shadow: 0 2px 2px var(--edit-filter);
}

.handle {
    border-radius: 8px;
    border: dashed var(--edit-color) ;
    font-weight: bold;
    cursor: grab;
}

/* Configuration des onglets */
.tabPage {
    display: none;
    &.active { display: unset; }
}

#tabBar>* {
    cursor: pointer;
    padding: 5pt;
    &.active {
        font-weight: bold;
        border-bottom: 2pt solid var(--fg-menu-color);
    }
    &:hover { background-color: var(--edit-filter); }
}
