.home-menu {
    border-style: ridge;
    border-color: var(--edit-color);
}

.settings-menu {
    margin: auto;
    margin-top: 30pt;
    width: 90%;
}

/* (A) LIST STYLES */
#sortList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sortList li {
    padding: 5px 5px;
    margin: 5px 5px;
    background: var(--edit-color);
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 4px 6px var(--edit-filter);
    transition: background 0.2s, transform 0.2s;
}

/* (B) DRAG-AND-DROP HINT */
#sortList li.hint {
    background-color: transparent;
    border: 2px dashed var(--edit-color);
}

#sortList li.active {
    background: var(--edit-filter);
    transform: scale(1.03);
}

#sortList li.current {
    opacity: 0.5;
}
