{% extends 'base.html.j2' %}


{% block head %}
    <style>
    body {
        background-image: linear-gradient(var(--edit-filter),var(--edit-filter)),url("{{database.families[path].img}}");
    }
    .home-menu {
        border-style: ridge;
        border-color: var(--edit-color);
    }
    </style>
{%- endblock head -%}


{%- block pageTitle -%}
<span class="pure-menu-heading" ondblclick="location.href='{{url_for('main', path=path)}}'">{{database.families[path].title}} [EDIT MODE]</span>
{%- endblock pageTitle -%}


{%- macro nav(classes='') -%}
<div class="pure-u-1-3 {{classes}} is-center"> <div class="pure-button" onclick="enableModal('modal-editConf')"> <i class="fa-solid fa-wrench"></i> </div> </div>
<div class="pure-u-1-3 {{classes}} is-center"> <div class="pure-button" onclick="enableModal('modal-editFam')"> <i class="fa-regular fa-calendar"></i> </div> </div>
<div class="pure-u-1-3 {{classes}} is-center"> <div class="pure-button" onclick="enableModal('modal-newFam')"> <i class="fa-regular fa-calendar-plus"></i> </div> </div>
<div class="modal" id="modal-editConf">
    <div class="modal-content">
        <div class="modal-menu">
            <h1>Edition de configuration</h1> 
        </div>
        <form class="pure-form pure-form-aligned" method="post">
            <h2>Configuration locale</h2>
            <fieldset>
                <label for='mainPageSelector'>Page principale</label>
                <select name="mainPage" id="mainPage-select"> {% for family in database.families %}
                    <option value="{{family}}"{% if family == config.getCfg('mainPage') %} selected{% endif %}>{{database.families[family].title}}</option>{% endfor %}
                </select>
            </fieldset>
            <h2>Configuration d'application</h2>
            <fieldset>
            <legend>Configuration des sons</legend>
                {% for sound in database.settings['sounds'] %}
                <div class="pure-g">
                    <div class="pure-u-1-4">
                        <label for='{{sound}}'>{{database.settings['sounds'][sound].description}}</label>
                    </div>
                    <div class="pure-u-2-4">
                        <input type="text" name="{{sound}}-url" value="{{database.settings['sounds'][sound].url}}" class="pure-input-1" placeholder=".pure-u-2-4" >
                    </div>
                    <div class="pure-u-1-4">
                        <input type="range" name="{{sound}}-volume" min="0" max="1" step="0.1" value="{{database.settings['sounds'][sound].volume}}" class="pure-input-1" placeholder=".pure-u-1-4" >
                    </div>
                </div>
                {% endfor %}
            </fieldset>
            <div class="is-right"> 
                <div class="pure-button amber close"><i class="fa-solid fa-rotate-left"></i></div>
                <button type="submit" name="save-conf" class="pure-button green"><i class="fa-regular fa-floppy-disk"></i></button>
            </div>
        </form>
        {# <form class="pure-form pure-form-aligned" method="post"> 
            <fieldset>
                {% for key, value in database.config.items() %}
                <div class="pure-control-group">
                    <label for="aligned-{{key}}">{{key}}</label>
                    <input type="text" name="{{key}}" value="{{value}}">
                </div>
                {% endfor %}
            </fieldset>
        </form> #}
    </div>
</div>
<div class="modal" id="modal-editFam">
    <div class="modal-content">
        <div class="modal-menu">
            <h1 >Edition de {{database.families[path].title}}</h1>
        </div>
        <form class="pure-form pure-form-aligned" method="post">
            <fieldset>
                <div class="pure-control-group">
                    <label for="aligned-title">Titre</label>
                    <input type="text" name="title" value="{{database.families[path].title}}">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-famId">Identifiant</label>
                    <input type="text" name="famId" value="{{path}}" required="">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-img">Image de fond</label>
                    <input type="text" name="img" value="{{database.families[path].img}}" size="75">
                </div>
                <div class="is-right">
                    <button type="submit" name="delete-fam" class="pure-button red"><i class="fa-regular fa-trash-can"></i></button>
                    <div class="pure-button amber close"><i class="fa-solid fa-rotate-left"></i></div>
                    <button type="submit" name="save-fam" class="pure-button green"><i class="fa-regular fa-floppy-disk"></i></button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal" id="modal-newFam">
    <div class="modal-content">
        <div class="modal-menu">
            <h1 >Nouvelle famille de liens</h1>
        </div>
        <form class="pure-form pure-form-aligned" method="post">
            <fieldset>
                <div class="pure-control-group">
                    <label for="aligned-title">Titre</label>
                    <input type="text" name="title">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-famId">Identifiant</label>
                    <input type="text" name="famId" required="">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-img">Image de fond</label>
                    <input type="text" name="img" size="75">
                </div>
                <div class="is-right">
                    <div class="pure-button amber close"><i class="fa-solid fa-rotate-left"></i></div>
                    <button type="submit" name="new-fam" class="pure-button green"><i class="fa-regular fa-floppy-disk"></i></button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{%- endmacro -%}


{%- macro cards() -%}
{%- for id, card in database.families[path].dictOfCards.items() -%}
<div class="card-wrapper is-center">
    <div class="card" onclick="enableModal('modal-{{id}}')">
        <div class="card-img">
            <img src="{{card.picture}}" onerror='src="{{url_for("static",filename="img/broken.png")}}"'/> 
        </div>
        <div class="card-name is-center">{{id}} <br><b>{{card.name}}</b></div>
    </div>
</div>
<div class="modal" id="modal-{{id}}">
    <div class="modal-content">
        <div class="modal-menu">
            <h1 >{{id}} - {{card.name}}</h1>
        </div>
        <form class="pure-form pure-form-aligned" method="post">
            <fieldset>
                <div class="pure-control-group">
                    <label for="aligned-number">Number</label>
                    <input type="text" name="number" value="{{id}}" size="5">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-name">Name</label>
                    <input type="text" name="name" value="{{card.name}}">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-url">Lien</label>
                    <input type="text" name="url" value="{{card.url}}" size="75">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-picture">Image</label>
                    <input type="text" name="picture" value="{{card.picture}}" size="75">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-comments">Commentaires</label>
                    <textarea name="comments" rows="5" cols="75">{{card.comments}}</textarea>
                </div>
                <input type="hidden" name="current" value="{{id}}" >
                <div class="is-right">
                    <button type="submit" name="delete-card" class="pure-button red"><i class="fa-regular fa-trash-can"></i></button>
                    <div class="pure-button amber close"><i class="fa-solid fa-rotate-left"></i></div>
                    <button type="submit" name="save-card" class="pure-button green"><i class="fa-regular fa-floppy-disk"></i></button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endfor -%}
<div class="card-wrapper is-center">
    <div class="card">
        <div class="card-img" onclick="enableModal('modal-new')">
            <h1><i class="fas fa-circle-plus" style=" font-size: larger; "></i></h1>
        </div>
        <div class="card-name is-center"> <b>Nouveau lien</b></div>
    </div>
</div>
<div class="modal" id="modal-new">
    <div class="modal-content">
        <div class="modal-menu">
            <h1 >Nouvelle entrée </h1>
        </div>
        <form class="pure-form pure-form-aligned"- method="post">
            <fieldset>
                <div class="pure-control-group">
                    <label for="aligned-number">Number</label>
                    <input type="text" name="number" value="{{newNumber}}" size="5">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-name">Name</label>
                    <input type="text" name="name" placeholder="Nom">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-url">Lien</label>
                    <input type="text" name="url" placeholder="URL" size="75">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-picture">Image</label>
                    <input type="text" name="picture" placeholder="Image" size="75">
                </div>
                <div class="pure-control-group">
                    <label for="aligned-comments">Commentaires</label>
                    <textarea name="comments" placeholder="Commentaires libres" rows="5" cols="75"></textarea>
                </div>
                <div class="is-right"> 
                    <div class="pure-button amber close"><i class="fa-solid fa-rotate-left"></i></div>
                    <button type="submit" name="new-card" class="pure-button green"><i class="fa-regular fa-floppy-disk"></i></button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    loadValues({{database.families[path].dictOfCards|length}}+1,{{ratio}});
</script>
{%- endmacro -%}

{% block postscript %}
{% if message: %}
<div class="modal" id="message">
    <div class="modal-content">
        <div class="modal-menu is-center">
            <h1><i class="fa-solid fa-triangle-exclamation red is-center"></i> Erreur </h1>
        </div>
        <div class="modal-data">
            {{ message|safe }}
        </div>
    <div class="is-right"><div class="pure-button amber close"><i class="fa-solid fa-rotate-left"></i></div></div>
    </div>
</div>
<script>enableModal("message")</script>
{% endif %}
{% endblock postscript %}
