<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="monSite">
    <meta name="author" content="Charles">
    <meta http-equiv="refresh" content="300">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/loadFirst.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <script>
        if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register("/sw.js").then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
            });
        });
        }
    </script>
    <script src="{{url_for('static', filename='js/global.js')}}"></script>
{% block head %}{% endblock head %}
{% with sounds = database.settings["sounds"] %}
    <audio id='sndPage' src='{{sounds["changePage"]["url"]}}' data-volume='{{sounds["changePage"]["volume"]}}'></audio>
    <audio id='sndEnter' src='{{sounds["selectItem"]["url"]}}' data-volume='{{sounds["selectItem"]["volume"]}}'></audio>
    <audio id='sndMove' src='{{sounds["changeItem"]["url"]}}' data-volume='{{sounds["changeItem"]["volume"]}}'></audio>
    <audio id='sndBye' src='{{sounds["exitWindow"]["url"]}}' data-volume='{{sounds["exitWindow"]["volume"]}}'></audio>
{% endwith %}
</head>

<body>

<div class="header">
    <div class="pure-g home-menu header-menu">
        <div class="pure-u-1-3 is-left">
{{ titleMenu()|indent('\t\t\t',True) }}
        </div>
        <div class="pure-u-1-3 landscape is-center">
            <ul class="pure-menu-list pure-menu-horizontal">
{{ nav('landscape')|indent('\t\t\t\t',True) }}
            </ul>
        </div>
        <div class="pure-u-1-3 is-right">
            <ul class="pure-menu-list pure-menu-horizontal">
{{ buttonright()|indent('\t\t\t\t',True) }}
            </ul>
        </div>
    </div>    
</div>

<div id="content-wrapper" class="cards-container">
{{ cards()|indent('\t',True) }}
</div>

<div class="footer home-menu portrait pure-g is-center">
{{ nav()|indent('\t',True) }}
</div>

</body>
</html>

<script src="{{url_for('static', filename='js/loadAfter.js')}}"></script>
<script type="text/javascript">appMuted.updateButton();</script>
{% block postscript %}{% endblock postscript %}
