{% extends 'base.html.j2' %}


{% block head %}
<style>
body { 
    background-image: linear-gradient(var(--bg-filter),var(--bg-filter)),url("{{ page.background_url }}");
}
</style>
<link rel="stylesheet" href="{{url_for('static', filename='css/keyboard.css')}}">
<script src="{{url_for('static', filename='js/keyboard.js')}}"></script>
<script src="{{url_for('static', filename='js/selection.js')}}"></script>
<script src="{{url_for('static', filename='js/swipes.js')}}"></script>
{%- endblock head -%}


{%- macro titleMenu() -%}
<span class="pure-menu-heading">{{ page.title }}</span>
{%- endmacro -%}


{%- macro nav(classes='') -%}
<div class="pure-u-1-3 {{classes}} is-center">
    <a href="/{{previous}}"
       class="pure-button"
       id="kbdPageDown">
        <i class="fa-solid fa-chevron-left"></i>
    </a>
</div>
<div class="pure-u-1-3 {{classes}} is-center">
    <a href="/"
       class="pure-button"
       id="kbdHome">
        <i class="fa-solid fa-house"></i>
    </a>
</div>
<div class="pure-u-1-3 {{classes}} is-center">
    <a href="/{{next}}"
       class="pure-button"
       id="kbdPageUp">
        <i class="fa-solid fa-chevron-right"></i>
    </a>
</div>
{%- endmacro -%}


{%- macro buttonright() -%}
<div class="is-right">
    <button class="pure-button"
            id="toggleMuted"
            onclick="appMuted.switch()">
        <i class="fa-solid fa-volume-high"></i>
    </button>
    <button class="pure-button"
            id="editConfig"
            onclick="location.href='/{{ page.id }}/edit';">
        <i class="fa-solid fa-gear"></i>
    </button>
</div>
{%- endmacro -%}


{%- macro cards() -%}
{%- for card in listOfCards -%}
<div class="card-wrapper is-center">
    <div class="card"
         id="kbd{{ card.number }}"
         onmouseover="setChannel('{{ card.number }}')"
         onclick="location.href='{{ card.link_url }}';">
        <div class="card-img" >
            <img src="{{ card.logo_url }}"
                 onerror='src="{{url_for("static",filename="img/broken.png")}}"'> 
        </div>
        <div class="card-name is-center" >
            {{ card.number }} <br><b>{{ card.name }}</b>
        </div>
    </div>
</div>
{% endfor -%}
<script type="text/javascript">
    loadValues({{ listOfCards|length }},{{ ratio }});
    document.getElementById("content-wrapper").onmousemove = () => {
        if ( document.getElementsByClassName('enable-mouse').length == 0 )
            enableMouseOnChilds();
        }
    loadSwipes();
</script>
{%- endmacro -%}


{% block postscript %}
<div id="selectedChannelDisplay"></div>
{% endblock postscript %}
