{% extends 'base.html.j2' %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
{%- endblock head -%}


{%- macro titleMenu() -%}
<span class="pure-menu-heading">Edition de configuration</span>
{%- endmacro -%}


{%- macro nav(classes='') -%}
<div class="pure-u-1-3 {{classes}} is-center">
    <a href="/"
       class="pure-button"
       id="kbdHome">
        <i class="fa-solid fa-house"></i>
    </a>
</div>

<div class="modal" id="modal-newFam">
    <div class="modal-content">
        <div class="modal-menu">
            <h1 >Nouvelle page</h1>
        </div>
        <form class="pure-form pure-form-aligned"
              method="post">
            <fieldset>
                <div class="pure-control-group">Titre
                    <input type="text"
                           name="title">
                </div>
                <div class="pure-control-group">Image de fond
                    <input type="text"
                           name="img"
                           size="75">
                </div>
                <div class="is-right">
                    <div class="pure-button amber close">
                        <i class="fa-solid fa-rotate-left"></i>
                    </div>
                    <button type="submit"
                            name="new-fam"
                            class="pure-button green">
                        <i class="fa-regular fa-floppy-disk"></i>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{%- endmacro -%}


{%- macro buttonright() -%}
<div class="is-right"> 
    <button class="pure-button"
            id="toggleMuted"
            onclick="appMuted.switch()">
        <i class="fa-solid fa-volume-high"></i>
    </button>
</div>
{%- endmacro -%}


{%- macro cards() -%}
<div class="settings-menu is-center">
    <form class="pure-form pure-form-aligned"
          method="post">
        <h2>Configuration locale</h2>
            <fieldset>
                <label for='mainPage-select'>Page principale</label>
                <select name="mainPage"
                        id="mainPage-select"> {% for page in database.pages %}
                    <option value="{{page}}"{% if page == config.getCfg('mainPage') %} selected{% endif %}>{{database.pages[page].title}}</option>{% endfor %}
                </select>
            </fieldset>
        <hr width="100%">
        <h2>Configuration d'application</h2>
            <h3>Configuration des pages</h3>
            <div class="pure-g">
                <div class="pure-u-1-4"> Identifiant de page </div>
                <div class="pure-u-1-4"> Titre de la page </div>
                <div class="pure-u-1-4"> URL de l'image de fond </div>
                <div class="pure-u-1-4"> </div>
            </div>
            <fieldset>
                <ul id="sortList">
                    {% for page in database.pages %}
                    <li draggable="true">
                        <div class="pure-g">
                            <div class="pure-u-1-4 handle"> {{page}} </div>
                            <div class="pure-u-1-4">
                                <input type="text"
                                       name="{{page}}-title"
                                       value="{{database.pages[page].title}}">
                            </div>
                            <div class="pure-u-3-8">
                                <input type="text"
                                       size="75"
                                       name="{{page}}-img"
                                       value="{{database.pages[page].img}}">
                            </div>
                            <div class="pure-u-1-8">
                                <button type="submit"
                                        name="{{page}}-delete"
                                        class="pure-button red">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </fieldset>
        <div class="pure-u-1-3 {{classes}} is-center">
            <div class="pure-button green"
                 onclick="enableModal('modal-newFam')">
                <i class="fa-regular fa-square-plus"></i> Créer une page
            </div>
        </div>
        <hr width="50%">
        <h3>Configuration des sons</h3>
        <div class="pure-g">
            <div class="pure-u-1-3">Contexte</div>
            <div class="pure-u-1-3">URL du son</div>
            <div class="pure-u-1-3">Volume du son</div>
        </div>
        <fieldset>
            {% for sound in database.settings['sounds'] %}
            <div class="pure-g">
                <div class="pure-u-1-3">{{database.settings['sounds'][sound].description}}</div>
                <div class="pure-u-1-3">
                    <input type="text"
                            size="75"
                            name="{{sound}}-url"
                            value="{{database.settings['sounds'][sound].url}}">
                </div>
                <div class="pure-u-1-3">
                    <input type="range"
                            name="{{sound}}-volume"
                            min="0"
                            max="1"
                            step="0.1"
                            value="{{database.settings['sounds'][sound].volume}}">
                </div>
            </div>
            {% endfor %}
            <div class="is-right"> 
                <button type="submit"
                        name="save-conf"
                        class="pure-button green">
                    <i class="fa-regular fa-floppy-disk"></i>
                </button>
            </div>
        </fieldset>
    </form>
</div>
{%- endmacro -%}

{% block postscript %}
{% if message: %}
<div class="modal" id="message">
    <div class="modal-content">
        <div class="modal-menu is-center">
            <h1><i class="fa-solid fa-triangle-exclamation red is-center"></i> Erreur </h1>
        </div>
        <div class="modal-data">
            {{ message|safe }}
        </div>
        <div class="is-right">
            <div class="pure-button amber close">
                <i class="fa-solid fa-rotate-left"></i>
            </div>
        </div>
    </div>
</div>
<script>enableModal("message");</script>
{% endif %}
{# <script>sortList();</script> #}
<script>
  new Sortable(document.getElementById('sortList'));
</script>
{% endblock postscript %}
