{% extends 'base.html.j2' %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
<script src="{{url_for('static', filename='js/settings.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
{%- endblock head -%}


{%- macro titleMenu() -%}
<span class="pure-menu-heading">Edition de configuration</span>
{%- endmacro -%}


{%- macro nav(classes='') -%}

<div class="pure-u-1-3 {{classes}} is-center">
    <a href="/"
       class="pure-button"
       id="kbdHome">
        <i class="fa-solid fa-house"></i>
    </a>
</div>
{%- endmacro -%}


{%- macro buttonright() -%}
{%- endmacro -%}


{%- macro cards() -%}
<div id="tabBar" class="pure-g settings-menu is-center">
{% for tab in [ ('Configurations locales','localTab'),
                ('Configuration des pages','pagesTab'),
                ('Configurations avancées','soundTab') ] %}
    <div forTab="{{ tab[1] }}"
         class="pure-u-1-{{loop.index+loop.revindex0}} {% if loop.index0 == activeTabIndex %}active{% endif %}"
         onclick="selectTab(this)">
        {{ tab[0] }}
    </div>
{% endfor %}
</div>
<div id='localTab' class="tabPage settings-menu is-center pure-form-aligned">
    <div class="pure-control-group">
        <label for='mainPage-select'>Page principale</label>
        <select name="mainPage"
                id="mainPage-select"
                onchange="updateMainPage(this)"> 
            {% for page in database.pages %}
            <option value="{{page}}">
                {{database.pages[page].title}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="pure-control-group"> 
        <button class="pure-button"
                id="toggleMuted"
                onclick="appMuted.switch()">
            <i class="fa-solid fa-volume-high"></i>
        </button>
    </div>
</div>
<div id='pagesTab' class="tabPage settings-menu is-center">
    <form class="pure-form"
            method="post">
        <div class="pure-g">
            <div class="pure-u-1-4"> Identifiant de page </div>
            <div class="pure-u-1-4"> Titre de la page </div>
            <div class="pure-u-3-8"> URL de l'image de fond </div>
            <div class="pure-u-1-8"> </div>
        </div>
        <ul id="sortList">
            {% for page in database.pages %}
            <li>
                <div class="pure-g">
                    <div class="pure-u-1-4 handle"> {{page}} </div>
                    <div class="pure-u-1-4">
                        <input type="text"
                                name="{{page}}-title"
                                value="{{database.pages[page].title}}">
                    </div>
                    <div class="pure-u-3-8">
                        <input type="text"
                                size="75"
                                name="{{page}}-img"
                                value="{{database.pages[page].img}}">
                    </div>
                    <div class="pure-u-1-8">
                        <button type="submit"
                                name="delete"
                                value="{{page}}"
                                class="pure-button red">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        <div class="pure-g">
            <div class="pure-u-1-4 handle" style="font-weight: bold;"> Nouvelle page </div>
            <div class="pure-u-1-4">
                <input type="text"
                        name="new-title"
                        placeholder="Titre de la page">
            </div>
            <div class="pure-u-3-8">
                <input type="text"
                        size="75"
                        name="new-img"
                        placeholder="URL de l'image de fond">
            </div>
            <div class="pure-u-1-8">
                <button type="submit"
                        name="form"
                        value="newPage"
                        class="pure-button green">
                    <i class="fa fa-circle-plus"></i>
                </button>
            </div>
        </div>
        <div class="is-right" style="margin-top: 15pt;">
            <button type="submit"
                    name="form"
                    value="pages"
                    class="pure-button green">
                <i class="fa-regular fa-floppy-disk"></i>
            </button>
        </div>
    </form>
    {# <div class="pure-u-1-3 {{classes}} is-center">
        <div class="pure-button green"
                onclick="enableModal('modal-newFam')">
            <i class="fa-regular fa-square-plus"></i> Créer une page
        </div>
    </div> #}
</div>
<div id='soundTab' class="tabPage settings-menu is-center">
    <div class="pure-g">
        <div class="pure-u-1-3">Contexte</div>
        <div class="pure-u-1-3">URL du son</div>
        <div class="pure-u-1-3">Volume du son</div>
    </div>
    <form class="pure-form" 
            method="post">
        {% for sound in database.settings['sounds'] %}
        <div class="pure-g">
            <div class="pure-u-1-3">{{database.settings['sounds'][sound].description}}</div>
            <div class="pure-u-1-3">
                <input type="text"
                        size="75"
                        name="{{sound}}-url"
                        value="{{database.settings['sounds'][sound].url}}">
            </div>
            <div class="pure-u-1-3">
                <input type="range"
                        name="{{sound}}-volume"
                        min="0"
                        max="1"
                        step="0.1"
                        value="{{database.settings['sounds'][sound].volume}}">
            </div>
        </div>
        {% endfor %}
        <div class="is-right"> 
            <button type="submit"
                    name="form"
                    value="sounds"
                    class="pure-button green">
                <i class="fa-regular fa-floppy-disk"></i>
            </button>
        </div>
    </form>
</div>
{%- endmacro -%}

{% block postscript %}
{% if message: %}
<div class="modal" id="message">
    <div class="modal-content">
        <div class="modal-menu is-center">
            <h1><i class="fa-solid fa-triangle-exclamation red is-center"></i> Erreur </h1>
        </div>
        <div class="modal-data">
            {{ message|safe }}
        </div>
        <div class="is-right">
            <div class="pure-button amber close">
                <i class="fa-solid fa-rotate-left"></i>
            </div>
        </div>
    </div>
</div>
<script>enableModal("message");</script>
{% endif %}
<script>
  new Sortable(document.getElementById('sortList'));
  displayActiveTabContent();
  setMainPage();setSoundBox();
</script>
{% endblock postscript %}
