@import url("profile.css");

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    margin: 0.1px;
    line-height: 1.7em;
    color: var(--fg-color);
    font-size: 13px;
    background: var(--bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: var(--fg-color);
}


/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.is-left { text-align: left; }
.is-center { text-align: center; }
.is-right { text-align: right; }


/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: var(--bg-menu-color);
    color: var(--emph-menu-color);
    padding: 0.5em 2em;
    border-radius: 5px;
    font-size: 13px;s
}
.pure-button:hover {
    background-color:#7f8c8d;
    color:#252525;
}

.red { color:red; }
.amber { color:orange; }
.green { color:green; }


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: var(--bg-menu-color);
    position: fixed;
    width:100%;
}
.header-menu {
    /* Fixed menus normally have a border at the bottom. */
    padding-bottom: 0;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}
.pure-menu-heading {
    color: var(--emph-menu-color);
    cursor: pointer;
}


/* This is the class used for the footer */
.footer {
    bottom: 0;
    border-top: none;
    padding-top: none;
    z-index: 4;
}

/* Adaptation of menu depending on screen orientation. */

@media screen and (orientation: portrait) {
    .portrait { visibility: visible; }
    .landscape { visibility: hidden; }
}
  
@media screen and (orientation: landscape) {
    .portrait { visibility: hidden; }
    .landscape { visibility: visible; }
}


/* 
 * -- TOOLTIPS --
 * Tooltips management
 */
.recent-link {
    position: relative;
    color: var(--bg-menu-color);
    font-size: 1rem;
}

.tooltip { 
    position: absolute; 
    opacity: 0; 
    z-index: 1;
    left: 50%;
    top: 150%;
    transform: translateX(-50%);
}

.recent-link:hover .tooltip { 
    opacity: 1; 
    transition: 0.5s;
    transition-delay: 0.1s;
}

.tooltiptext {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    background-color: var(--bg-menu-color);
    padding: 12px; 
    border-radius: 3px; 
    color: var(--emph-menu-color); 
    line-height: 10px;
    transition: 1s;
    width: 100px;
}


/*
 * -- CONTENT STYLES --
 * Bunch of cards management
 */
.content-wrapper {
    position: absolute;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: stretch;
    padding: 0;
    margin: 0;
}
/*
 * Card management
 */
.card-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    /* overflow: hidden; */
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    line-height: normal;
}
.card:hover {
    filter: drop-shadow(0 0 1vw var(--fg-menu-color));
    text-shadow: 0 0 1vw var(--fg-menu-color);
    transform: scale(1.2);
    transition: transform .1s;
    overflow:visible;
}

.card-img {
    padding: 5%;
    padding-bottom: 0;
    width: 90%;
    height: 60%;
    filter: drop-shadow(0 0 0.1vw var(--emph-menu-color));
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: none;
}
.card-name {
    width: 90%;
    height: 30%;
    padding: 5%;
}


/*
 * -- MODAL BOXES --
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--bg-color); /* Fallback color */
    background-color: var(--bg-filter); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--bg-color);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 5px;
    /* border: 1px solid #888; */
    width: fit-content; /* Could be more or less, depending on screen size */
}
  
  
.close:hover,
.close:focus {
    color: var(--emph-menu-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-menu {
    font-weight: bold;
    color: var(--fg-menu-color);
    background: var(--bg-menu-color);
    padding: 1%;
}
.modal-data {
    color: var(--fg-color);
    background: var(--bg-color);
}
